a,
a:visited,
a:hover,
a:active {
  color: white;
}

h2 {
  text-align: center;
}

label {
  display: block;
  margin-bottom: .5rem;
}

.centered-input {
  box-sizing: border-box;
  margin: auto;
  display: block;
  width: 100%;
  border-radius: .7rem;
  padding: .5rem;
  border-width: 0rem;
  margin-bottom: 1rem;
  border-color: gray;
  border-width: .1rem;
}

/*********************************
*           Nav                  +
**********************************/

nav {
  background-color: #6c757d;
  height: 8vh;
  min-height: 2vh;
}

.logo {
  height: 70%;
  margin: auto;
  margin-left: 1rem;
}

nav a {
  text-decoration: none;
  vertical-align: middle;
  margin-left: 3vw;
}

/*********************************
*           LOGIN                +
**********************************/

.login-div {
  margin: auto;
  display: block;
  background-color: white;
  width: fit-content;
  height: fit-content;
  padding: 2rem;
  margin-top: 20%;
  border-radius: 1rem;
  border-width: 0rem;
}

.login-button {
  margin-top: 3rem;
  color: white;
  background-color: #6f7608;
  padding: .5rem;
}

.login-span {
  color: #6f7608;
  text-align: start;
  font-size: small;
}


/*************************************
s           Dashboard                +
*************************************/
.dashboard-header {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin: auto;
  margin-bottom: 2rem;
}

.dashboard-table {
  width: 90vw;
  margin: auto;
  text-align: center;
  border-spacing: 0px;
}

.dashboard-table-header {
  background-color: #8dbb00;
  color: white;
  height: 8vh;
}